# LLM Configuration
LLM_PROVIDER=openai          # openai or ollama
LLM_MODEL=gpt-4o             # any model supported by the provider
OPENAI_API_KEY=your_key_here

# Google Sheets
GOOGLE_SHEETS_CREDENTIALS_PATH=service_account.json
GOOGLE_SHEET_ID=your_sheet_id_here

# Database
INVENTORY_DB_PATH=inventory.db

# Langsmith (For Tracing) (Optional)
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_key_here
LANGSMITH_PROJECT=auto-parts-recommendation